*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 60px; 
}
.box-1 img{
    height: 20px;
    margin-left: 20px;
}
.box-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    list-style: none;    
}
.box-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding-right: 30px;
    list-style: none;
}
.box-3{
    background-image: url(./img-2.jpg);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.box-4{
    height: 400px;
    background: none; 
    margin-left: 90px;
    display: flex;
   flex-direction: column;
padding-top: 100px;
padding-left: 20px;
}
.y-1{
margin-top: 20px;
}
.box-4 button{
    height:40px;
    width: 110px;
    margin-left:0px;
    background-color: black;
    color: white;
    font-size: 17px;
    margin-top: 10px;
}




.box-5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
    margin-top: 50px;
    background-color:white;
    width: 800px;
    margin-left: 250px;
}

.a-1 p{
    font-size: 20px;
}
.b-1 {
   margin-left: 50px;
   font-size: 50px;
    
}
.a-2 p{
    font-size: 20px;
}
.b-2 {
   margin-left: 50px;
   font-size: 50px;
    
}.a-3 p{
    font-size: 20px;
}
.b-3 {
   margin-left: 50px;
   font-size: 50px;
    
}.a-4 p{
    font-size: 20px;
}
.b-4{
   margin-left: 50px;
   font-size: 50px;
    
}



.box-7{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card-2{
    height: 55%;
    margin-bottom: 70px;
}
.card-3{
    height: 55%;
    margin-bottom: 50px;
    
}.card-4{
    height: 55%;
}


.c-1{
    width: 300px;
    height: 300px;
    
}
.c-1 p{
    margin-top: 20px;
}
.c-1 button{
    background: none;
    color:black;
    margin-top: 20px;
}
.box-8{
    background-image:url(./img-7.avif);
    height: 100vh;
    padding-top: 90px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 60px;
    
    }




    .box-9{
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
       
    }
    .box-10{
        height:100vh ;
        margin-top: 70px;
        background-color:white;
    }
    .box-10 h1{
        padding-top: 50px;
    }

    .d-1{
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
    .d-2{
        margin-left: 20px;
    }
    .box-11{
        
        height: 50vh;
        background-color:whitesmoke;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        
    }
    .box-12{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        height: 40px;
    }
    .x-1{
    list-style: none;
    }
    .x-2{
        list-style: none;
    }
    .x-3{
        list-style: none;
    }
    .x-4{
        list-style: none;
    }
    .x-5{
        list-style: none;
    }
    .x-6{
    list-style: none;
    }
    .x-8{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        list-style: none;
    }
    .x-7{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 150px;
     list-style: none;
     
    }
    .x-9{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .x-10{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .u-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 45%;
    }
    .u-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .y-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 55%;
    }
    
    .y-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .w-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }
    .w-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        margin-left: 30px;
    }



.man-1{
display: none;
}

@media(max-width:768px){
.man-1{
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-right: 20px;
}
.z-2{
   padding: 10px;
   display: flex;
   justify-content: space-between;
   width: 90px;
}
.z-3{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 90px;
 }
.man-1 img{
height: 30px;
}
.continar{
    display: none;
}
.box-3{
    background-image: url(./img-2.jpg);
    height: 50vh;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -300px;    
     
}
.box-4{
    
    height: 50%;
    margin-left: 350px;
    margin-top: 300px;
}
.y-1{
    margin-top:-0px;
    } 
    


    .box-5{
        display: flex;
        flex-direction: column;
        height: 50vh;
        margin-top:300px;
        background-color:white;
        width: 100%;
        margin-left:-0px;
    }
    
    
    .a-1 p{
        font-size: 20px;
    }
    .b-1 {
       margin-left: 90px;
       font-size: 50px;
       
        
    }
    .a-2 p{
        font-size: 20px;
    }
    .b-2 {
       margin-left: 80px;
       font-size: 50px;
        
    }.a-3 p{
        font-size: 20px;
    }
    .b-3 {
       margin-left: 50px;
       font-size: 50px;
        
    }.a-4 p{
        font-size: 20px;
    }
    .b-4{
       margin-left: 50px;
       font-size: 50px;
        
    }

    .box-7{
        margin-top: 200px;
        margin-left: 90px;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        
    }

    .box-8{
        margin-top: 120%;
        margin-left:-0;
        margin-left: 10px;
        margin-right:-0;
        margin-right: 10px;
        background-size: cover;
        background-position:center;
    }
    .box-9{
        display: flex;
        align-items: center;
        flex-direction: column;
        height:55%;
        margin-bottom: 50%;
    }
    .box-10{
        height: 170vh;
        margin-top:-0;
    }
    
    .box-11{
        
        height: 90vh;
        background-color:whitesmoke;
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
    }
    .box-12{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        height: 40px;
    }
    .x-9{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .d-1{
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    .d-2{
        margin-left:50px;
    }
    .box-10 h1{
        margin-left: 50px;
    }
    .x-10{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .box-12{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: whitesmoke;
        height: 50px;
    }
    .x-8{
        width:100%;
    }

    .u-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .u-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
       
    }
    .y-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    
    .y-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .box-7{
        height:30vh;
        display: flex;
        
        
        flex-direction: column;
    }
    
.card-2{
    height: 55%;
    margin-bottom: 145px;
    padding: 20px;
}
.card-3{
    height: 55%;
    padding: 20px;
    margin-bottom: 50px;
}.card-4{
    height: 55%;
}

.w-1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    }
    .w-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
        margin-left: 30px;
    }
    .box-5{
        height:80px;
    }




}

